.menu-lateral {
    background-color: #15191C;
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: -100vw;
    position: absolute;
    transition: .25s;
    width: 75vw;
}

.menu-lateral--ativo {
    left: 0;
    transition: .25s;
}

.menu-lateral__logo {
    align-self: center;
    padding: 16px;
    width: 118px;
}

.menu-lateral__link {
    align-items: center;
    color: #95999C;
    display: flex;
    height: 64px;
    padding-left: 64px;
}

.menu-lateral__link--ativo {
    color: #FFFFFF;
    border-left: 8px solid #FFFFFF;
    padding-left: 56px;
}

.menu-lateral__link::before {
    content: "\e900";
    font-size: 24px;
    height: 24px;
    left: 24px;
    position: absolute;
    width: 24px;
}

.menu-lateral__link--inicio::before {
    content: "\e902";
}

.menu-lateral__link--videos::before {
    content: "\e90e";
}

.menu-lateral__link--picos::before {
    content: "\e909";
}

.menu-lateral__link--integrantes::before {
    content: "\e903";
}

.menu-lateral__link--camisas::before {
    content: "\e900";
}

.menu-lateral__link--pinturas::before {
    content: "\e90a";
}

@media screen and (min-width: 1024px) {
    .menu-lateral {
        grid-column: 1;
        grid-row: 1 / span 2;
        position: static;
        width: 200px;
    }
}

@media screen and (min-width: 1440px) {
    .menu-lateral {
        grid-column: 1;
        grid-row: 1 / span 2;
        position: static;
        width: 200px;
    }
}